<div #ref *ngIf="notification" class="notification">
  {{notification}}
</div>

<mat-card>
  <mat-card-title>Products Form</mat-card-title>
  <mat-card-subtitle>Add new Products to Your list of available products</mat-card-subtitle>
  <mat-card-content class="products-form-content">

    <mat-form-field appearance="legacy">
      <mat-label>Name:</mat-label>
      <input type="text" matInput placeholder="Name:" [(ngModel)]="product.productName">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>State:</mat-label>
      <mat-select [(ngModel)]="product.productState">
        <mat-option value="BRAND_NEW">New</mat-option>
        <mat-option value="USED">Used</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Owner:</mat-label>
      <mat-select [(ngModel)]="product.productOwner">

        <mat-option *ngFor="let owner of owners" [value]="owner">
          {{owner.name}} {{owner.surname}}
        </mat-option>

      </mat-select>

    </mat-form-field>



    <div class="form-button-row">
      <button class="submit-button" type="button" mat-button mat-raised-button (click)="sendProduct()">
        Submit
      </button>
      <button class="clear-button" type="button" mat-button mat-raised-button color="warn" (click)="clearForm()">
        Clear
      </button>
    </div>
  </mat-card-content>
</mat-card>
